*{
    padding:0px;
    margin:0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.main{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email{
    width: 40%;
}

h1{
    color: blue;
    font-size: 70px;
}

h3{
    color: rgba(0, 0, 0, 0.76);
    font-size: 35px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.leftpart{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 450px;
    height: 375px;
    box-shadow: -10px -10px 15px rgba(0,0,0,0.1),
    10px 10px 15px rgba(0,0,0,0.1);
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
}

.cls1{
    width: 380px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.678);
    color: white;
    border: 1px solid #ccc;
    font-size: 27px;
}

p{
    font-size: 20px;
    color: blue;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.clss2{
    width: 245px;
    height: 50px;
    font-size: 18px;
    border-radius: 7px;
    background-color: rgb(6, 182, 6);
    color: white;
    border: 1px solid;
}

span{
    padding-left: 560px;
    margin-top: 10px;
}
